.upload-container {
  margin-top: 20px;
  padding: 20px;
  background: rgba(25, 25, 50, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}

.file-input {
  padding: 10px;
  background-color: #141625;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #00ffff;
  margin-bottom: 15px;
  display: block;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.upload-button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #00f5ff, #0077ff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #00f5ff;
}

.upload-button:hover {
  background: linear-gradient(45deg, #00d4ff, #0055ff);
}
